CREATE TABLE DEPTM
(DEPTNO	SMALLINT(4) PRIMARY KEY NOT NULL,
DNAME VARCHAR(15),
LOC VARCHAR(15));

INSERT INTO DEPTM VALUES(10, 'ACCOUNTING', 'DELHI');
INSERT INTO DEPTM VALUES(20, 'RESEARCH', 'KOLKATA');
INSERT INTO DEPTM VALUES(30, 'SALES', 'MUMBAI');
