CREATE TABLE emp 
(EMPNO SMALLINT(4) PRIMARY KEY NOT NULL,
ENAME VARCHAR(25),
JOB VARCHAR(20),
MGR INTEGER(6),
DOJ DATE,
SAL DOUBLE(7,2),
COMM DOUBLE(7,2),
DEPTNO SMALLINT(4),
foreign key (deptno) references deptm (deptno));

INSERT INTO EMP VALUES(100, 'Sunita Sharma', 'CLERK', 7902, '1993-12-17', 12800, null, 20);
INSERT INTO EMP VALUES(101, 'Ashok Singhal', 'SALESMAN', 7698, '1994-02-20', 13600, 1300, 30);
INSERT INTO EMP VALUES(102, 'Sumit Avasti', 'SALESMAN', 7698, '1994-02-22', 15250, 1500, 30);
